DATABASE_URL="postgresql://postgres:Weblockin%402026@db.vaostndswlmibmbwrtgg.supabase.co:5432/postgres"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="PTv96n1v/orDrIM1BgwIfwAjw/o8PbRNg2zFRf8PUmA="
